{% extends 'store/base.html' %}
{% load static %}



{% block content %}
    
     <div class="about-container">
         
         
         <div class="child-1">
            <h1>About Us</h1>
         </div>
         <div class="child-2">
             <p>
                Welcome to Ecom201, your number one source for all products, ie: shoes, bags, t-shirts etc. 
                We're dedicated to giving you the very best of product, with a focus on three characteristics, ie: dependability, customer service and uniqueness.
                Founded in 2022 by Abundance Kioko, Ecom201 has come a long way from its beginnings in a starting location, ie: home office, Thika, Kiambu. 
                When the team first started out, our passion for helping everyone be more eco-friendly, providing the best equipment 
                for our fellow students drove us to action, and gave us the impetus to turn hard work and inspiration into to a 
                booming online store. We now serve customers all over the nation, mostly Nairobi area, and are thrilled to be a 
                part of the quirky, eco-friendly, fair trade wing of the fashion industry.
            </p>
            <p>
                We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, 
                please don't hesitate to contact us.
            </p>
            <p style="font-style: italic;color: burlywood;text-underline-position: below; text-decoration: dotted;">
                Sincerely,
                Abundance Kioko, Founder.
            </p>
                
                
                
                
             
         </div>

         <div style="margin-top: -10px;">
            
             <a href="#" class="btn btn-primary" style="border: none; outline: none; display: grid;place-items: center;background: rgb(65, 60, 60);width: 10em; height: 3em;">CONTACT US</a>
         </div>

         <div class="group-photo">
            <div class="cont-card">
                
            </div>
            <div style="height: 100%;width: 100%; overflow: hidden;">
                <img src="{% static 'img/group.jpg' %}" alt="">
            </div>
             
         </div>

         
         
     </div>
{% endblock %}